.intro{
    justify-content: center;
    align-items: top;
    text-align: center;
    letter-spacing: 0.1rem;
    height: 100vh;
    display: flex;
    background: linear-gradient(45deg, #99b898 20%, #feceab 20% 50%, #ff847c 50% 80%, #e84a5f 80%);
}

h1{
    padding: 2rem;
    color: white;
    font-family: 'Broadway', sans-serif;
    font-size: 3.50rem;
    margin-bottom: 0.75rem;
}

h3{
    color: white;
    font-family: "American typewriter", serif;
    font-size: 3.50rem;
    letter-spacing: 2rem;
}